@using QuantumConcepts.Common.Extensions;
@using QuantumConcepts.Common.Mvc.Extensions;

@{
    IDictionary<string, object> modelDictionary = new RouteValueDictionary(this.Model);
    string id = (modelDictionary.ValueOrDefault("ID") as string ?? this.ViewData.ValueOrDefault("ID") as string ?? "save");
    string icon = (modelDictionary.ValueOrDefault("Icon") as string ?? this.ViewData.ValueOrDefault("Icon") as string ?? "disk");
    string text = (modelDictionary.ValueOrDefault("Text") as string ?? this.ViewData.ValueOrDefault("Text") as string ?? "Save");
}
<button id="@id" type="submit" class="Button" title="@text" data-options='{ "icons": { "primary": "ui-icon-@icon" } }'>@text</button>